<footer role="contentinfo">
    All content on Humint Labs is <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">Creative Commons licensed</a>, for non-commercial sharing  with attribution
    {{!--
    <br>
    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img id="licensebutton_slim" alt="Creative Commons License" src="http://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" style="border: 0;"></a>
    --}}
    <br>
    <a href="http://www.humint.is" target="_blank">Humint</a> 2014
    {{!--
    <br>
    <ul class="menu">
        <li><a href="{{@blog.url}}/about-us/">About Us</a></li>
        <li><a href="{{@blog.url}}/terms-and-conditions/">Terms &amp; Conditions</a></li>
        <li><a href="{{@blog.url}}/privacy/">Privacy</a></li>
    </ul>
    Powered by <a href="http://ghost.org"><strong>Ghost</strong></a>
    --}}
</footer>
